<header class="navbar">
  <div class="nav-container">
<a href="index.html">
  <img src="../assets/logo (2).png" class="logo">
</a>
      <nav class="menu">
        <a href="../index.html">Home</a>
        <a href="../services.html">Services</a>
        <a href="#">Shop</a>
        <a href="../contacts.html">Contacts</a>
      </nav>

      <div class="nav-right">
        <div class="search-icon"></div>
        <button class="btn  -primary">Get a Quote</button>
      </div>
    </div>

    
</header>

<div class="image-modal" id="imageModal">
  
  <span class="close-btn" onclick="closeGallery()">&times;</span>

  <button class="nav-btn prev-btn" onclick="prevImage()">❮</button>

  <div class="image-box">
    <img id="popupImage" src="">
  </div>

  <button class="nav-btn next-btn" onclick="nextImage()">❯</button>

</div>